@import url("https://fonts.bunny.net/css?family=maven-pro");

body {
    font-family:"Maven Pro", sans-serif;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.7) url(background.jpg);
    background-blend-mode: darken;
    color: #fff;
    overflow: hidden;
}


header h1 {
    margin: 10px 10px 15px 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

main p:first-of-type {
    font-size: 48px;
    font-weight: bold;
    margin: 10px 10px 15px 10px;
}

main p:last-of-type {
    font-size: 24px;
    margin: 10px 10px 15px 10px;
}